.custom__progress__bar {
  margin-bottom: 30px;
}

.custom__progress__bar .progress-bar {
  padding-right: 10px;
  text-align: right;
  background-color: var(--light-blue);
}

.progress__bar__counter {
  color: var(--light-grey);
  margin-bottom: 10px;
}

.step__header {
  color: var(--dark-blue);
  font-size: 20px;
  font-weight: bold;
}

.line__break {
  height: 1px;
  background-color: var(--light-grey);
  margin: 20px 0;
}
