.form__container {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 40px;
}

.buttons__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 40px;
}

.section__wrapper {
  margin-bottom: 40px;
}

@media screen and (min-width: 960px) {
  .form__container {
    width: 760px;
  }
}
